html {
    scroll-behavior: smooth;
  }

.container {
    width: 80%;
    margin:0 auto;
}

.meet_container {
    background-color: #C7FFB4;
    border-radius: 20px ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:25px;
}

.heading {
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
    padding-top: 30px;
}

.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width:250px;
    height: 570px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin-bottom: 80px;
}

.prof_pic {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
    width: 250px;
}