.linkedin_logo {
    margin-left: 17px;
    height: 21px;
}

.github_logo {
    margin-left: 15px;
    height: 24px;
}

.name {
    margin: 15px;
    margin-bottom: 4px;
}

.p_contact_text {
    color:black;
    font-weight: 500;
    font-size: 18px;
    margin: 15px;
}

.email {
    margin: 15px;
    color:#1100ff;
}

.role {
    margin: 15px;
    margin-top: -5px;
    color:rgb(170, 170, 170);
    font-size: 20px;

}


