.styles-donations-container {
  width: 70%;
  margin-left:auto
}

.styles-donation-item {
  list-style: none;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  background-color: #DBFFCF;
}


.accept_btn {
  background-color: #52ff00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 25px;
  font-size: 18px;
  text-align: center;
  width: 100px;
  border-radius: 7px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.accept_btn :hover {
  background-color: #46dd00;
}

.accepted_text {
  background-color: #3cbe00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 25px;
  font-size: 18px;
  text-align: center;
  width: 100px;
  border-radius: 7px;
  margin-top:15px;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.forms {
  margin-bottom: 10px;
  color:black;
  font-size: 18px;
}

.styles-donation-image {
  max-width: 100%;
  height: 15rem;
  margin-top: 10px;
}

.feedback_form {
  margin-top: 20px;
}

.feedback_textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #121212;
  border-radius: 5px;
  resize: none; /* Prevent textarea resize */
  font-size: 16px;
  margin-bottom: 10px;
}

.submit_feedback_button {
  background-color: #52ff00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  margin-top:5px;
  transition: background-color 0.3s ease;
}

.feedback_button {
  background-color: #52ff00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  margin-top:5px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.feedback_button:hover {
  background-color: #3ec500;
}

.submit_feedback_button:hover {
  background-color: #3ec500;
}

@media only screen and (max-width: 600px) {
  .feedback_textarea {
    height: 100px; /* Adjust height for smaller screens */
  }
}

@media only screen and (max-width: 600px) {

  .container {
    width: 100%;
    ;
  }

  .styles-donations-container {
    padding: 10px;
    margin: 0;
    width: 100%;
  }

  .styles-donation-item {
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .forms {
    font-size: 14px;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 24px;
  }
}
