.faqContainer {
    width: 70%;
    margin: auto;
  }
  
  .title {
    margin-bottom: 20px; /* Add margin bottom to the title */
  }
  
  .faqItems {
    padding-top: 20px; /* Add padding top to create space */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .faqItem {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .faqQuestion {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 19px;
  }
  
  .faqAnswer {
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  
  .toggleIcon {
    font-size: 19px;
  }

  /* For smaller devices like tablets */
@media screen and (max-width: 1024px) {
  .faqContainer {
    width: 70%; 
  }

  .faqItems {
    grid-template-columns: repeat(1, 1fr); 
  }

  .faqQuestion {
    font-size: 18px; 
  }

  .faqAnswer {
    font-size: 16px; 
  }
}

/* For mobile devices */
@media screen and (max-width: 600px) {
  .faqContainer {
    width: 100%; /* Adjust container width to full width */
    padding: 0 10px; /* Add padding to the sides */
  }

  .faqQuestion {
    font-size: 18px; /* Further reduce font size for questions */
  }

  .faqAnswer {
    font-size: 16px; /* Further reduce font size for answers */
  }
}

/* For very small devices like smartphones in portrait mode */
@media screen and (max-width: 400px) {
  .faqContainer {
    width: 100%; /* Adjust container width to full width */
    padding: 0 5px; /* Add minimal padding to the sides */
  }

  .faqItems {
    grid-template-columns: repeat(1, 1fr); /* Switch to a single column layout */
    margin-bottom: 20px;
  }

  .faqQuestion {
    font-size: 16px; /* Reduce font size for questions */
  }

  .faqAnswer {
    font-size: 14px; /* Reduce font size for answers */
  }
}


  