.main_topic {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.sub_topic {
  color: #434344;
  font-weight: bold;
}
.paragraph {
  color: #413e3e;
  line-height: 1.6;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
}
.first_section {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.word_giveback {
  color: #52ff00;
}
.column1 {
  width: 40%;
  max-width: 100%;
}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  max-width: 100%;
}
.second_section {
  display: flex;
  padding: 120px 0px 40px 0px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.greenline {
  border-left: 5px solid #52ff00;
  padding-inline: 0.5rem;
}
.third_section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-bottom: 100px;
}
.category {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 2rem;
}
.icons {
  width: 60px;
}
.fourth_section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-radius: 25px;
  box-shadow: 9px 9px 15px -20px;
  margin-bottom: 70px;
}
.line1 {
  width: 30%;
}
.first_line {
  margin-bottom: 10px;
}
.arrow {
  margin-left: 80px;
  width: 8%;
}
.sign_up_btn{
  background-color: #ffffff;
  color: #52ff00;
  font-size: 30px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popupCard {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 550px;
  /* height:9%; */
}
.icons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.back_icon {
  width: 40px;
  cursor: pointer;
}
.close_icon {
  width: 40px;
  cursor: pointer;
  margin-left: auto;
}
.form_header{
  display: flex;
  flex-direction: flex-start;
  margin-bottom: 2rem;
  font-size: 60px;
  font-weight: bolder;
}
.form_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 1rem;
}
.form_labels{
  color: #6b6b6b;
  padding-right: 10px;
  font-size: 18px;
}

.form_box{
  border-width: 1px;
  border-radius: 5px; 
  width: 100%;
  padding: 1px;
}
.form_box_big{
  border-width: 1px;
  border-radius: 5px;
  padding-bottom: 3.62rem;
  width: 100%;
}
.form_btn{
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.next_btn {
  background-color: #52ff00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  /* margin-top: 2px; */
}
.register_btn{
  background-color: #52ff00;
  border: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 30px;
  text-align: center;
  font-size: 16px;
  border-radius: 7px;
  margin-top: 20px; 
}
@media screen and (max-width: 768px) {
  .first_section {
    flex-direction: column;
  }

  .column1,
  .column2 {
    width: 100%;
    max-width: 100%;
  }

  .second_section {
    padding: 60px 0 10px;
  }

  .third_section {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .category {
    flex-basis: 100%;
    width: 40%;
  }
}
