.auth_container {
    width: 65%;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: #74DE42;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
}


.auth_container_left {
    width: 45%;
    background-color: #74DE42;
    border-radius: 15px;
    position: absolute;
    left: 0;
    margin-left: 40px;
    z-index: 100;
}

.auth_container_left .share_h2 {
    font-size: 40px;
    text-align: center;
} 

.auth_container_left .left_image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.auth_container_right {
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-right: 3px;
  height: 99%;
  width: 50%;
  background-color: #F3F3F3;
  border-radius: 15px;
  position: absolute;
  right: 0;
}

.auth_container_right .share_h2 {
  font-size: 40px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.auth_log_button {
  background-color: #4EE109;
  border: none;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  font-weight: bolder;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 8px; 
  margin-bottom: 20px;
  margin-top: 15px;
  transition: all 0.125s;
}

.auth_log_button:hover {
  background-color: #3bbd41; 
}

.auth_log_button:active {
  background-color: #4de109bb;
}

.auth_form{
  width: 95%;
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.auth_p {
  color: black;
  margin-left: 55px;
  font-size: 18px;
  font-weight: bold;
}

.auth_label {
  width: 20%;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.auth_input {
  padding: 2px;
  margin: 10px;
  border-radius: 6px;
  border: 0.1px solid black;
  width: 73%;
}

.auth_checkbox{
  font-weight: bold;
  margin-left: 30px;
}

.auth_input_checkbox{
  margin-right: 0.5rem;
}

.switch {
    color: #349408;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-size: bolder;
}


.switch:hover {
    color: #3bbd41;
    text-decoration: underline;
}

.error_message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

/* Original styles */

/* ... */
@media (max-width: 780px) {


}

@media only screen and (max-width: 1200px) {
    .auth_container {
      flex-direction: column;
      height: auto;
    }
  
    .auth_container_right {
      width: 100%;
      position: relative;
      margin-right: 0;
      border-radius: 15px;
      margin-top: 20px;
    }
  
    .auth_container_left {
      width: 100%;
      position: relative;
      margin-left: 0;
      margin-top: 20px;
    }
  
    .auth_container_right .share_h2,
    .auth_container_left .share_h2 {
      margin-left: 0;
      text-align: center;
    }
  
    .auth_container_left .left_image {
      border-radius: 15px;
    }
  
    .auth_input {
      width: 60%;
    }
    
    .auth_checkbox{
      margin-right: 10px;
    }

    .auth_label,
    .auth_p {
      margin-left: 10px;
    }
  
    .switch {
      margin-left: 0;
    }

    .quotation_img {
        margin-left:10px;
    }
  }
  