.container {
  width: 66%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
}

.header {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 20px;
  color : #71005e;
}

.scrollToTopButton {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 1000;
}

.scrollToTopButton:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .scrollToTopButton {
    bottom: 3%;
    right: 3%;
  }
}

.editFormContainer {
  margin-top: 10px;
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.label_form {
  font-weight: bolder;
  font-size: 18px;
}

.buttonContainer {
  display: flex;
}

.edit_btn, .delete_btn {
  margin-right: 10px; 
}

.updateButton {
  color: white;
  background-color: #4CAF50;
  padding: 7px 30px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.updateButton:hover {
  background-color: #45a049;
}

.donationList {
  padding: 10px;
  width: 100%;
}

.item {
  list-style: none;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  color:rgb(0, 0, 0);
  background-color: rgba(210, 32, 255, 0.308);
}

.label {
  font-weight: bold;
}

.itemDetail {
  margin-bottom: 10px;
}

.list {
  padding: 0;
  width: 100%;
}

.noItems {
  text-align: center;
  font-style:oblique;
  font-size: 19px;
  /* margin-bottom: 12vh; */
  font-size: 30px;
  font-weight: bolder;
}

.forms {
    font-weight: bolder;
}

.donation_missing_image {
  margin-top: -40px;
  margin-bottom: -20px;
}

.donate_btn{
  background-color: #71005e;
  border: none;
  font-weight: bold;
  color: white;
  padding: 7px 30px;
  font-size: 19px;
  text-align: center;
  border-radius: 7px;
  margin-top: 20px; 
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer; 
  transition: all 0.3s ease;
  margin-bottom: 13%;
}

.donate_btn:hover {
  background-color: #4b013c;
}

.donate2_btn{
  background-color: #71005e;
  border: none;
  font-weight: bold;
  color: white;
  padding: 7px 30px;
  font-size: 19px;
  text-align: center;
  border-radius: 7px;
  display: flex;
  cursor: pointer; 
  margin-left: auto;
  transition: all 0.3s ease;
}

.donate2_btn:hover {
  background-color: #4b013c;
}

.delete_btn {
  color: white;
  background-color: #c50505;
  padding: 7px 30px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete_btn:hover {
  background-color: #a30303;
}

.cancelButton {
  color: white;
  background-color: #c50505;
  padding: 7px 30px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelButton:hover {
  background-color: #a30303;
}

.noItems_container {
width: 75%;
margin: 0 auto;
}
.edit_btn {
  color: rgb(0, 0, 0);
  background-color: #52ff00;
  padding: 7px 30px;
  border-radius: 7px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit_btn:hover {
  background-color: #46dd00;
}

.styles-donation-image {
  max-width: 100%;
  height: 15rem;
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 10px;
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
    width: 100%;
  }
  .item {
    width: 100%;
  }
  .donation_missing_image  {
    height: 100%;
  }
  .donationList {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 24px;
  }
}
